[2020-02-17 14:04] YiannisGkoufas opened #7 "Provide helm-based installation"
It might be easier to provide a helm chart than custom scripts with envsubst

[2020-02-20 13:12] christian-pinto commented on #7
This should also include a better build system. We are currently rebuilding everything every time  a make is executed, while binaries and container images should only be re-built if need-be.

[2020-03-12 09:52] srikumar003 opened #11 "Nooba Install on Mac OS X fails"
`$ make minikube-install`
 results in
[code]

This is happening because of this line in `examples/noobaa/noobaa_install.sh`:
`wget -P ${DIR} https://github.com/noobaa/noobaa-operator/releases/download/v2.0.10/noobaa-linux-v2.0.10 > /dev/null 2>&1`

[2020-03-12 16:03] christian-pinto commented on #11
Fixed with #12 .

[2020-03-12 16:03] #11 closed

[2020-04-15 16:45] srikumar003 opened #17 "Provide an example for using DLF with Spark"

[2020-05-19 07:47] christian-pinto opened #20 "Bug on dataset operator eviction"
If the dataset operator pod gets evicted for some reason a new instance is started. However, the evicted instance seems to be holding a lock causing a deadlock.

In the new operator instance logs you can only see the following line repeated indefinitely:
```{"level":"info","ts":1589796411.546784,"logger":"leader","msg":"Not the leader. Waiting."}```
The pod is not capable of continuing its executi

[2020-06-11 15:25] caniszczyk opened #21 "Fill out Best Practices Badge + add to README"
https://bestpractices.coreinfrastructure.org/

This will help you as part of your CNCF application process

[2020-06-25 08:06] YiannisGkoufas opened #22 "Implement ceph-based caching plugin"
Cache remote s3 buckets using ceph.

Tracked branch: https://github.com/IBM/dataset-lifecycle-framework/commits/fixed-caching

Wiki with instructions: https://github.com/IBM/dataset-lifecycle-framework/wiki/Ceph-Caching

[2020-06-25 10:08] YiannisGkoufas opened #23 "Watch multiple namespaces"
By default we are looking at all the namespaces, we should pass a list of namespaces to monitor instead

[2020-06-25 13:31] srikumar003 opened #24 "Dataset using NFS cannot be attached to pods"
`kubectl logs csi-attacher-nfsplugin-0 -c csi-attacher` on the cluster showed that the volume could not be attached as there was no `patch` permission for `csi-attacher-nfs-plugin`

[2020-07-06 06:18] jebinjeb opened #26 "design document"
Could you please share the design document  to understand how it mounting the bucket/nfs share ... ?

[2020-07-06 14:44] YiannisGkoufas opened #27 "Fix noobaa installation script"
The problem lies in the lines with `sleep 15` like here https://github.com/IBM/dataset-lifecycle-framework/blob/10f3be95913aa9624245c9c48f750a4d7d9dbfc8/examples/noobaa/noobaa_install.sh#L28

We should wait until the objects are ready and not 15 seconds

[2020-07-06 14:46] YiannisGkoufas commented on #26
Definitely, will add more details in the next few days!

[2020-07-07 22:23] srikumar003 commented on #24
fixed by PR #25

[2020-07-07 22:23] #24 closed

[2020-07-14 09:47] #27 closed

[2020-07-28 20:20] davidyuyuan opened #30 "Can Dataset support accessKey and secretAccessKey in Secret?"
Can Dataset support preexisting Secret where accessKeyID and secretAccessKey are stored? There may be two reasons:

1. End users do not want to store such information in Dataset if they open-sourced their project. It can be a security risk.
2. In larger organizations, such information may not be available to programmers. Administrators create K8S Secret on their behalf.

Related, the rest of the i

[2020-07-28 20:26] davidyuyuan commented on #7
I think that this would benefit users significantly. Please consider to support Helm 3 only. It is much better than Helm 2.

[2020-07-29 08:18] YiannisGkoufas commented on #30
Thanks @davidyuyuan it definitely makes sense, it's not difficult to implement, will definitely be able to support it soon.

[2020-08-31 17:13] vpavlin opened #32 "Addressing by name or ID"
The README states addressing of datasets is done by "using the unique ID defined at creation time" - when I look at the example it looks like the addressing is done by the name of dataset CR - can you maybe clarify that in the README?

[2020-08-31 17:16] vpavlin opened #33 "Consider changing the labels format"
The current label format does not follow the best practices I have been seeing around (https://github.com/IBM/dataset-lifecycle-framework/blob/master/examples/hive/sampleapp/samplepod.yaml#L8)

Have you considered prefixing your labels similarly to https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/

[2020-09-01 07:52] YiannisGkoufas commented on #32
Nice catch @vpavlin
You are right, it's the name that is used. Also a PVC will be created with the exact same name.
Updated the README accordingly

[2020-09-01 07:52] #32 closed

[2020-09-01 09:59] iwalmsley opened #34 "Problem Mounting Existing Bucket"
Hi there,

Thanks for the efforts, finding this project very useful. One issue i'm having however (apologies if it's obvious) is mounting an existing bucket, even though I am specifying the bucket in the secret e.g this is for a non-AWS s3 endpoint;

[code]

Rather than mounting the specified bucket, it instead generates a new bucket with the name of the Kubernetes pvc. Just want to confirm that I

[2020-09-01 10:11] YiannisGkoufas commented on #33
Definitely makes sense, thanks for bringing this up!

[2020-09-01 10:19] YiannisGkoufas commented on #34
Hi @iwalmsley thanks a lot for your kind words!
Instead of creating a Secret like you are showing, you need to create a Dataset like that:
[code]
Also before you create the above dataset, that you delete the secrets, configmaps you created related to the above.

[2020-09-04 08:03] YiannisGkoufas opened #35 "Multiple namespaces installation problems"
If you do the full installation on a different namespace, the previous installation breaks.
We need to have 2 things fixed

- In the installation to check if the dataset operator is running in another namespace and prevent re-installation
- Explain on the wiki how to extend existing installation to multiple namespaces

FYI @davidyuyuan

[2020-09-04 09:14] iwalmsley commented on #34
That's great thank you, I hadn't deployed the whole stack - working now!

[2020-09-04 09:14] #34 closed

[2020-09-04 09:20] YiannisGkoufas commented on #34
Awesome!

[2020-09-04 12:29] davidyuyuan commented on #35
In this case, it might be better to make the operator to watch all namespaces by default. We give users an option to watch a list of namespaces if they want to, and document how they can update the list later.

[2020-09-07 09:06] davidyuyuan opened #36 "Existing files owned by root inaccessible by nonroot users"
Storage buckets work nicely if they are empty. The existing files and directories are owned by root so they are inaccessible by non-root users in a container. I have tried object stores on GCP, AWS and a custom S3-compatible object store. Note that this applies to the files and directories created outside of DLF via S3 APIs. The ones created via DLF have the correct ownership if a bucket is mounte

[2020-09-07 09:16] YiannisGkoufas commented on #36
Thanks @davidyuyuan I just tested the fix on https://github.com/IBM/dataset-lifecycle-framework/commit/8ff2ee33796186193fd2bac48f51c0e3de09c9cc and it looks like it's solved, but please verify in your environment.
With this fix, you can mount under /home/jovyan in your notebooks as well and use it without a problem

[2020-09-07 09:26] YiannisGkoufas commented on #23
closing in favour of the duplicate #35

[2020-09-07 09:26] #23 closed

[2020-09-07 12:33] YiannisGkoufas opened #37 "Admission controller not working on K8s 1.19.x"
Need to investigate a bit, but admission controller is not working on k8s 1.19.x version as it complains about the self signed certificates

[2020-09-07 20:51] davidyuyuan commented on #36
Thank you for the prompt response. The issue has been fixed. DLF now works nicely with notebook servers on Kubeflow. I think that we can close the issue now.

[2020-09-08 06:05] #36 closed

[2020-09-08 16:10] YiannisGkoufas opened #38 "Show example of using python apis"
Document an example of using python's k8s apis, ie `create_namespaced_custom_object`

cc @davidyuyuan

[2020-09-17 13:10] YiannisGkoufas commented on #7
Since Kustomize is utilized in the operator-sdk 1.0 we need to update the deployment and manifests building process.

[2020-09-17 18:25] davidyuyuan commented on #38
+1

[2020-09-21 16:32] vpavlin opened #40 "Integrate DLF into ODH JupyterHub"
In opendatahub.io we use https://github.com/opendatahub-io/jupyterhub-singleuser-profiles to customize Jupyter instances for users.

I'd like to come up with a good integration between DLF and the profiles library.

As discussed with @YiannisGkoufas we would need to be able to mount volumes read-only too avoid users overwritting datasets for others

Then we could add a simple way to automatically

[2020-09-21 16:38] lukemarsden opened #41 "Errors during `make minikube-install`"
Running `make minikube-install` mostly seems to work, but between loading the images into minikube and applying the yaml, spits out these errors:

[code]

It seems like the `generate-keys.sh` stuff happens in-cluster now, so maybe this is nothing to worry about? It's a bit disconcerting though :-)

[2020-09-21 17:02] YiannisGkoufas commented on #41
Apologies @lukemarsden the documentation is all over the place currently! I have been updating the wiki ( https://github.com/IBM/dataset-lifecycle-framework/wiki/Installation ) but not the README.md (promise to fix it the next few days)
Instead if you use `make deployment` it should work without a problem, let me know if that's not the case.

[2020-09-21 18:02] YiannisGkoufas commented on #40
Thanks for moving this forward @vpavlin !
For the read-only, a simple solution would be to extend the CRD to something like this:

[code]

Regarding the labeling etc, the current way to mount in `/mnt/datasets/*` is as follows:
[code]
Do you need a different functionality about the pods labeling convention?

[2020-09-22 07:53] YiannisGkoufas opened #42 "Limit access to datasets to specific pods running specific images"
Currenty the user can create a dataset like this:
[code]

Then if they specify a pod like this:
[code]

It will be mutated as follows:
[code]
As a result the credentials would be available in the pod with the `your-dataset_` prefix as env variables.

However, there are scenarios where we only want authorized images to access the credentials and not any pod.

We are designing with @mrsabath how thi

[2020-09-22 09:37] YiannisGkoufas commented on #38
@davidyuyuan have a look on the updated guide for creating datasets as part of the pipeline https://github.com/IBM/dataset-lifecycle-framework/wiki/PVCs-for-Pipelines-SDK#example-with-creation-of-dataset-as-part-of-the-pipeline-execution

[2020-09-22 09:40] YiannisGkoufas commented on #38
And this is the example pipeline https://github.com/IBM/dataset-lifecycle-framework/blob/master/examples/kubeflow/volumeop.py

[2020-09-22 12:46] mrsabath commented on #42
What if your admission controller simply injects the following annotations into the user's pod:

[code]
where the constraints are defined by the level of security to be imposed for this data set (e.g. only containers in specific region and from a specific image can access this data object)

And TSI would obtain the secrets from Vault and inject them to the user's container at the location specifed

[2020-09-22 13:20] vpavlin commented on #40
@YiannisGkoufas The labels should be fine, I would suggest to move the readonly up to `spec.readonly` instead of `spec.local.readonly` - I believe the readonly option applies to all the backends so it makes more sense to make it more "global" on dataset level. WDYT?

[2020-09-22 13:51] YiannisGkoufas commented on #40
Oh yes the `local` bit is going away in any case. Will work on this and update the current issue. Thanks @vpavlin

[2020-10-01 10:01] YiannisGkoufas commented on #38
@davidyuyuan in line with the approach followed here: https://github.com/kubernetes-client/python/issues/740

You can adopt it as follows:

[code]
Let me know if it works for you so I can close this one

[2020-10-01 12:40] davidyuyuan commented on #38
@YiannisGkoufas , Here is what I did:
def k8s_ds_op(name: str,
              manifest: str,
              action: str = "apply") -> PipelineVolume:
    with open(manifest, 'r') as fp:
        yml = yaml.safe_load(fp)
    print(yml)
    k8s_resource = V1beta1CustomResourceDefinition(api_version=yml['apiVersion'],
                                                   kind=yml['kind'],

[2020-10-01 13:05] YiannisGkoufas commented on #38
Ahhh that's great @davidyuyuan the sample is still valid in python k8s api outside of the pipelines SDK context.

[2020-10-01 13:05] #38 closed

[2020-10-02 13:10] shawnzhu opened #44 "support IBM Cloud IAM API Key instead of HMAC keypair when configuring COS bucket as dataset"
The use case is about working with data on IBM COS. I followed the guide here: https://github.com/IBM/dataset-lifecycle-framework/wiki/Data-Volumes-for-Notebook-Servers#create-a-dataset-for-the-s3-bucket

where it creates a COS bucket, it needs:

[code]

Which requires a [service credential](https://cloud.ibm.com/docs/cloud-object-storage?topic=cloud-object-storage-service-credentials&mhsrc=ibmsea

[2020-10-08 08:54] vpavlin commented on #42
Why/How is the image the deciding factor? Should it be rather whether the user is supposed to have access to this dataset?

Or maybe there is a use case that is not obvious at first glance - can you elaborate?

[2020-10-08 08:55] vpavlin commented on #40
Is there any progress on readonly access?

[2020-10-08 14:27] YiannisGkoufas commented on #40
Hey @vpavlin yes yes, not documented yet, but if you are feeling brave, try the following images for the dataset operator and csi-s3.

[code]

Example readonly dataset (only working on COS)
[code]

[2020-10-09 08:15] mrsabath commented on #42
@vpavlin, intially, we are trying to address the simples scenario, to make sure only images that pass the compliance requirements, e.g vularabilty scan, are able to access the dataset. The example when access to the datasets depends on the userid is more challanging, just because Kubernetes was designed with a notion that users sharing a particular namespace can also share the resources in that na

[2020-10-14 11:04] YiannisGkoufas commented on #41
Hi @lukemarsden, with the updated instructions and yamls this should be resolved right?

[2020-10-16 21:19] Tomcli opened #48 "DLF labels are having conflicts with Istio sidecar Injection"
When trying to deploy a pod with DLF labels inside an namespace with istio inject, I'm seeing the errors below. It looks like there's some conflicts between the DLF and istio mutation.

[code]

Here is my pod
[code]

[2020-10-16 21:24] Tomcli opened #49 "ARCHIVE Type is having issue after failing to push datasets to S3"
When we are trying to push a big dataset using the `ARCHIVE` type, sometimes it will fail due to the large workload. Then after that, all other datasets created by the same DLF cluster won't able to be mounted on any pod. Redeploy DLF and minio won't solve this issue.

Here are the events after pod failing to mount on DLF's PVC:
[code]

Here is the dataset that can ruin the whole DLF cluster:
[cod

[2020-10-16 23:21] Tomcli commented on #49
it looks like something could have changed in the CSI drivers. I no longer can produce the same outcome as https://github.com/IBM/dataset-lifecycle-framework/wiki/Archive-based-Datasets#usage even in my new cluster.

[2020-10-16 23:21] Tomcli commented on #49
I'm using IKS v1.16.15+IKS

[2020-10-19 08:30] YiannisGkoufas commented on #48
Hi @Tomcli can you try creating the pod like this:
[code]

[2020-10-19 08:34] YiannisGkoufas commented on #49
Hi @Tomcli will try out the dataset. if you manage to reproduce it let me know!

[2020-10-19 18:33] Tomcli commented on #48
Thanks @YiannisGkoufas, for pipelines we can disable istio sidecar. On the notebook server we can define our own volume mount definition on the UI so we can bypass this problem. But on KFServing, if we are going to disable istio sidecar, then we are losing some traffic metrics. Although those metrics are not important for now, we should revisit it in the future as there could be other mutation web

[2020-10-19 21:39] Tomcli opened #50 "Add extract option to the dataset spec"
We want to have an option to turn on/off for extracting dataset tar file to s3.

[2020-10-19 21:42] Tomcli opened #51 "Have an explicit mutatingwebhookconfiguration resource in the dlf.yaml deployment."
We want to have the mutatingwebhookconfiguration explicitly defined in the dlf.yaml deployment. So that we can also delete the webhook using the same dlf.yaml

[2020-10-19 22:06] Tomcli commented on #49
I was able to run this last Thursday no problem, but on Friday all my iks clusters (including new provisioned ones) are having this issue. Are you also seeing this when you run the archive mode?

I try to follow your wiki instructions step by step and using your example minio, but still having this problem.
https://github.com/IBM/dataset-lifecycle-framework/wiki/Archive-based-Datasets

[2020-10-19 22:07] Tomcli commented on #49
I can see the data is being cached to minio, but the csi driver is not able to mount that volume to pod.

[2020-10-19 22:08] Tomcli commented on #49
These are the error logs under the csi-s3 pods

[code]

[2020-10-19 22:09] Tomcli commented on #49
Let me know if you want access to my cluster, i have kept it running for debugging purpose.

[2020-10-21 13:59] YiannisGkoufas commented on #40
Hi @vpavlin can you check the branch https://github.com/IBM/dataset-lifecycle-framework/tree/readonly it support the readonly functionality in a Dataset as shown in the example

[2020-10-22 15:39] YiannisGkoufas commented on #49
It's really strange because I tested 1.16 with minikube and it worked out of the box. The attacher methods are not called in your cluster, I open an issue here https://github.com/container-storage-interface/spec/issues/459 and I hope we can find a way to debug this.
In your cluster the datasets based on non-minio COS don't work as well.

[2020-10-22 15:44] YiannisGkoufas commented on #49
And after suggestion opened on https://github.com/kubernetes/kubernetes/issues/95796

[2020-10-22 23:56] Tomcli commented on #49
So we confirmed this is an issue happening on IKS since it works on Minikube, but we need to figure out the bug so we can use it for product.

[2020-10-22 23:59] Tomcli commented on #49
By the way, the new `docker.io/yiannisgkoufas/dataset-operator:archive-amd64` image is not working on containerd.
[code]

on containerd level:
[code]

[2020-10-23 12:48] VassilisVassiliadis opened #52 "DaemonSets csi-s3 and csi-nodeplugin-nfsplugin are unable to create pods due to missing RBAC configuration for ServiceAccounts"
The [manifest file](https://raw.githubusercontent.com/IBM/dataset-lifecycle-framework/master/release-tools/manifests/dlf.yaml) does not configure the SecurityContextConstraints for the following ServiceAccounts:

- `csi-provisioner`
- `csi-s3`
- `csi-nodeplugin`
- `csi-attacher`

As a result, on OpenShift, containers which are expecting to run in privileged mode are unable to get access to feature

[2020-10-27 17:14] YiannisGkoufas commented on #52
I think that the approach followed here https://github.com/IBM/dataset-lifecycle-framework/tree/openshift-fix is better.
Using `make manifests` the developer exports the dlf-oc.yaml as well and an openshift user can do instead `kubectl apply -f https://raw.githubusercontent.com/IBM/dataset-lifecycle-framework/master/release-tools/manifests/dlf-oc.yaml`
What do you think?

[2020-10-28 08:41] VassilisVassiliadis commented on #52
I tried spinning up DLF with the new `release-tools/manifests/dlf-oc.yaml` YAML file on our OpenShift 4 cluster just now, and it works like a charm - I can see the StatefulSet and DaemonSet pods transitioning to the running state.

Thank you!

[2020-10-28 09:23] #52 closed

[2020-11-05 00:51] Tomcli commented on #50
resolved

[2020-11-05 00:51] #50 closed

[2020-11-05 00:51] Tomcli commented on #49
resolved

[2020-11-05 00:51] #49 closed

[2020-11-05 00:55] Tomcli opened #58 "Removing bogus kubelet error message on IKS if possible"
On IKS, mounting S3 CSI drivers still shows the below errors. Although this is not blocking the pod from mounting, it takes the kubelet few minutes to realize the message is bogus which creates some bottleneck on mounting time.

[code]

[2020-11-05 09:47] chazapis opened #59 "Support H3 as an additional dataset type"
[H3](https://github.com/CARV-ICS-FORTH/H3) is an embedded High speed, High volume, and High availability object store, backed by a high-performance key-value store (RocksDB, Redis, etc.). H3 also provides a FUSE implementation to allow object access using file semantics. The [CSI H3 mount plugin](https://github.com/CARV-ICS-FORTH/csi-h3) (csi-h3 for short), allows you to use H3 FUSE for implementi

[2020-11-05 16:49] YiannisGkoufas commented on #58
Hi @Tomcli I believe with that fix that error goes away, thanks for reporting it

[2020-11-06 00:30] Tomcli commented on #58
Thanks @YiannisGkoufas, with the new fixes, some of the warnings are gone and mount time is a little bit faster. But we still see a mountFailed warning from kubelet despite the mounting works fine.
[code]

[2020-11-06 18:16] Tomcli commented on #58
resolved. if anyone see this issue again, please recreate a new cluster on a new data center.

[2020-11-06 18:16] #58 closed

[2020-11-06 18:25] Tomcli commented on #48
@YiannisGkoufas we can put this into a troubleshooting section and close this issue.

[2020-11-12 18:04] vpavlin commented on #40
Hi @YiannisGkoufas we are pushing a release of ODH and trying to finish some changes in JupyterHub, which is preventing me from looking at this. Just wanted to let you know this is still on the list for me!

[2020-11-13 17:43] YiannisGkoufas commented on #40
No worries @vpavlin ! thanks for letting me know. I have actually gathered some questions/ideas on ODH integration so would love discuss more when you have time

[2020-11-19 00:52] Tomcli opened #64 "Questions on the csi-nodeplugin rbac"
From https://github.com/IBM/dataset-lifecycle-framework/blob/master/src/csi-driver-nfs/chart/templates/csi-nodeplugin-rbac.yaml#L38

Should this rbac map to the namespace where `csi-nodeplugin` SA is deployed? Looks like this is a typo.

[2020-11-19 09:11] YiannisGkoufas commented on #64
Indeed! Thanks for the fix!

[2020-11-19 09:11] #64 closed

[2020-11-19 10:04] YiannisGkoufas commented on #51
some progress on this one @Tomcli, unfortunately at this point we cannot bundle the webhook configuration in the dlf.yaml since it requires the CA_BUNDLE value to be set. that's why it's populated within the generate-keys pod.
as a workaround I added just the definition ( https://github.com/IBM/dataset-lifecycle-framework/blob/master/src/generate-keys/webhook-definition.yaml ) which you can use it

[2020-11-19 19:26] Tomcli commented on #51
thanks @YiannisGkoufas. Quick question, if we deploy the webhook without `CA_BUNDLE`, will the controller overwrite the webhook with the correct `CA_BUNDLE` value?

We are using kustomize `kubectl -k` to deploy all of this without script. That's why we want the webhook to be explicit.

[2020-11-19 19:28] Tomcli commented on #51
Another way could be, if the controller deployment is deleted, the controller's finalizer logic should delete the webhook as part of terminating the pod.

[2020-11-19 20:30] #41 closed

[2020-11-20 11:10] YiannisGkoufas commented on #51
That's a good point, it actually does apply so in theory it should work. Let me test it out and get back to you

I wanted to migrate everything to kustomize, but the biggest problem I faced was about customizing `/var/lib/kubelet` path

[2020-11-27 14:59] YiannisGkoufas commented on #51
Hi @Tomcli with the latest push I am creating the mutating webhook and the secrets as an init container of dataset operator. Also I included the yamls (which would be updated by the init container) so we have all the resources in dlf.yaml
Let me know if this works for you so I can close this one.

[2020-12-01 15:51] viktoriaas opened #67 "Create new directory in NFS for each Dataset deployment"
Hi,
today I tried to deploy both S3 and NFS Datasets in our environment and they work flawlessly.
However, I found out that the NFS doesn't set up a new directory for each deployment but uses same for all.
Beforehand we've been using nfs-client-provisioner (some helm chart) but it is deprecated now. With that, you configured the nfs path and server and it created new directory for each PVC (under

[2020-12-02 09:16] pkoutsov opened #68 "Support specifying which cache plugin (or None) to use for a particular dataset"
I noticed that at the moment DLF will query for the installed caching plugins and will always use the first result (if any) to cache the dataset. However, in the case where multiple caching plugins are installed, it would come handy to be able to specify which one to use and cache the dataset. Also, there are cases that the user may want to opt-out of caching at all.

As a solution to the above po

[2020-12-02 10:57] YiannisGkoufas commented on #67
Hi @viktoriaas thanks for trying out the framework and glad that it works!
As you mentioned, in our current version it happens the following:

- You have an NFS server on IP 1.1.1.1
- You are exporting a directory `/export`
- You create a Dataset as:
[code]
- You create a pod mounting the resulting PVC. Anything you write on the pvc would be under `/export` in the NFS server

Instead, the function

[2020-12-02 11:43] viktoriaas commented on #67
Hi @YiannisGkoufas ,
yes, that's exactly the feature we would appreciate greatly! I think that having option of either creating new directory or mounting exactly what is specified would benefit many people.

Thanks

[2020-12-02 11:44] YiannisGkoufas commented on #68
Makes sense! I would still keep the approach cache.label in case we want to have a default cache plugin unless it's specified

[2020-12-02 12:13] YiannisGkoufas commented on #67
Thanks @viktoriaas ! will have a look and let you know when it is done.

[2020-12-02 12:17] viktoriaas commented on #67
And I suppose that if I want multiple PVCs under same share, I just create DataSet for each new PVC with everything same, just different `.metadata.name`. Is this assumption okay?

[2020-12-02 12:19] YiannisGkoufas commented on #67
Yes, that's correct!

[2020-12-08 16:28] YiannisGkoufas commented on #67
Hi @viktoriaas, in the branch `nfs-create-dir` I have added the functionality described.
You can install it by calling:
[code]
Using this branch you can create NFS datasets like this:
[code]
Let me know if it works for you!

[2020-12-10 12:11] viktoriaas commented on #67
Hi,

the functionality doesn't work. The PVC is created (with specified name+some ID, here: nfs2-9e26c4)
[code]
but really, at defined location no new directory is present (I would expect /gpfs/vol1/nfs/x/nfs2-9e26c4).

From logs of dataset operator container:
[code]

Here we can see that at first, PVC is reported as created and right after error log appears with message that it already exists (qu

[2020-12-10 16:27] YiannisGkoufas commented on #67
Hi @viktoriaas thanks so much for digging into both issues!
**Regarding NFS**
I think the issues that you are facing could be related to this: https://github.com/IBM/dataset-lifecycle-framework/issues/37
And to be honest we have tested it up to K8s 1.18
I just pushed one small fix that does a better a check whether the PVC exists already if you want to try it again.
The test I did for the new `cre

[2020-12-11 13:58] viktoriaas commented on #67
Hi @YiannisGkoufas,
I don't know when you were reading my previous comment but the errors I've encountered were my fault - I haven't realized I have to create a pod to fire up the PVC. So actually I have no issues.
When I switch `true` to `"true"` it works. I would consider this feature done and ready to merge as it works as expected.

**NFS PVC volume size**
I've searched the code a little bit mo

[2020-12-14 09:54] YiannisGkoufas commented on #67
Hi @viktoriaas

you are right, I haven't read the edited version of your message before replying. I think I get notifications only for new comments and not edits. Glad that it works!

**NFS PVC volume size**
We can definitely have this option as well, I can add to parse the size. I think though that it doesn't limit you from using datasets above 5G. I believe that the size is checked only when wor

[2020-12-14 16:04] viktoriaas commented on #67
Hey @YiannisGkoufas,
I think that since implementation creates one PV per PVC (as dynamic provisioning is not supported (_yet_ I hope :) )) nothing stops us from specifing the size for each of them.
If I want to create PV(PVC) with just 1GB, I would write `size: 1Gi`, if I want 10GB, I'll write `size: 10 Gi`.  In Kubernetes, PV and PVC bind 1-to-1 so if I have a PV of size 50GB I can't bind 10x 5G

[2020-12-15 09:26] YiannisGkoufas commented on #22
Thanks for the work on this one!

[2020-12-15 09:26] #22 closed

[2020-12-15 11:00] YiannisGkoufas commented on #67
Hi @viktoriaas

You are right about the PV<--->PVC one-to-one binding, I was confused thinking that multiple PVCs can bind to one PV.
However, as far as I am aware there is no space wasted no matter what the setting for the size is. Since in the NFS implementation we just mount a remote, we don't allocate space for that. Also (again correct me if I am wrong, I try to verify these as well), Kuberne

[2020-12-15 11:22] viktoriaas opened #70 "Specify access mode in NFS Dataset"
As asked in comments in #67 , I'm opening a new issue tracking specifying access mode in NFS Dataset.

Goal: be able to specify whether RWO or RWX access mode should be used
A way how to do that is lightly described in #67

[2020-12-15 11:36] viktoriaas commented on #67
@YiannisGkoufas
I don't really know whether Kubernetes checks if mounted PVC has capacity smaller/bigger than what you write out. But it makes sense that it doesn't check (although there's a question now, why there's a capacity at all if Kubernetes doesn't care?)
I've created new issue for access mode.

**Helm Chart**
I'm sorry I really didn't see all that helm charts down there in src folder. On

[2020-12-15 17:19] Tomcli commented on #51
Thanks @YiannisGkoufas. I think we pulled the latest code a while ago and didn't see any problem, I did a delete and redeploy and it also works.
We can close this issue now.

[2020-12-15 17:19] #51 closed

[2020-12-16 16:10] YiannisGkoufas commented on #67
@viktoriaas I believe that the size is useful when the provisioner interacts with an external system which allocates specific size of available storage. Anyway regarding the functionality around the creation new directory in NFS would be merged in master and I really appreciate your input in this!

**Helm Chart**
I am sorry for not having it yet on the documentation (the helm-based installation).

[2020-12-17 11:16] viktoriaas commented on #67
@YiannisGkoufas
thanks for merging, please let me know when it will be done.

If you are willing to continue with adding features, I would appreciate specifying access mode. Considering size is not importnant on NFS, I leave the decision about adding size to you.
If you want, I can create PR with fixed S3 bug + added access mode. I can do it before holidays so the PR will just wait here. Just say

[2021-01-08 16:36] viktoriaas commented on #67
@YiannisGkoufas

Hi!
Happy New Year!
Today I created a PR for region fix in S3 and I would be very happy if you merged it.

Also, could you advise me with some issue around S3? We have IBM Spectrum Scale and turned on S3 feature. It kind of works but there are some issues which might need fixes here, in goofys and in openstack swift client.

- goofys keeps on losing connection. When some error hap

[2021-01-11 10:47] YiannisGkoufas commented on #67
Hi @viktoriaas just got back from my holidays!

Regarding the **helm chart** there is a PR pending for some minor fixes, will take care of that and update the README with instructions about installing. Thanks for the suggestion for hosting it somewhere publicly, definitely makes sense!

Regarding the **S3 region PR** I really appreciate it! will take care of it this week as well.

Regarding the **

[2021-01-11 10:56] YiannisGkoufas commented on #37
Fix provided in here https://github.com/CARV-ICS-FORTH/karvdash/commit/72422e613bfffd45ddbccf53f0dab1c5c3069633
Thanks @chazapis !

[2021-01-11 11:20] #68 closed

[2021-01-11 16:35] viktoriaas commented on #67
@YiannisGkoufas
Thanks very much for taking care about Helm chart and S3 PR. Both will become a huge help in future work.

As to Spectrum Scale and S3 - sure! I've written an e-mail to address `yiannisg@ie.ibm.com` (found on your profile).

*Pod Mounting*
Is the Dataset mounting supposed to work? I can only attach created volume via creating PVC and mounting this into pod. Mounting using labels do

[2021-01-12 09:54] #35 closed

[2021-01-12 16:09] YiannisGkoufas commented on #67
Hi @viktoriaas thanks again! I am glad that the work is useful!

Regarding **Pod mounting**
I believe that you might be using a Kubernetes version above 1.19 so that's why it doesn't work. I posted it here https://github.com/IBM/dataset-lifecycle-framework/issues/37 and recently found the solution, will merge it in the master. Basically it's just a convenient convention for users to reference data

[2021-01-12 16:20] YiannisGkoufas commented on #37
Tracked branch https://github.com/IBM/dataset-lifecycle-framework/tree/cert-fix

[2021-01-13 13:08] YiannisGkoufas commented on #67
Hi @viktoriaas after some checks we found out the following:
- If the bucket already exists, you can mount it without specifying region in the Dataset spec.
- If the bucket doesn't exist, then you need to specify the region.
Can you verify the above is the same in your tests as well?

[2021-01-13 16:23] viktoriaas commented on #67
I can't verify.

In our S3 we do not have regions at all. If the bucket exists, I can mount it without it. If I try to mount nonexistent bucket, I get:
- using ordinary ec2 credentials (no admin, just project member)
  -  without region: `GRPC error: failed to check if bucket nonexistent exists: 400 Bad Request
`
  - with region: `GRPC error: failed to create volume pvc-887fe4f6-c6c1-4bd0-8139-f0c

[2021-01-15 10:45] viktoriaas commented on #67
Hi @YiannisGkoufas ,
did something happen to that NFS feature of creating a directory? It suddenly stopped working, whole export is mounted even when I specify `createDirPVC: "true"`.
I have redeployed whole dlf and also deployed `kubectl create -f https://raw.githubusercontent.com/kubernetes-csi/csi-driver-nfs/master/deploy/example/nfs-provisioner/nfs-server.yaml
`

[2021-01-15 10:53] YiannisGkoufas commented on #67
Hi @viktoriaas apologies we have been merging various PRs lately so we might have broken something. Will have a look today.
Also on the issue with bucket creation you mentioned above I am trying to replicate that as well and will get back to you.

[2021-01-15 11:42] YiannisGkoufas commented on #67
I merged the pull request and updated the image, everything should be working now, let me know otherwise.
If createDirPVC works, I will close this and we can track your other issues on another one

[2021-01-15 13:48] viktoriaas commented on #67
Thanks, works now!  :)
Might create new issue regarding S3 and permissions.

[2021-01-15 13:48] #67 closed

[2021-01-19 12:54] viktoriaas opened #76 "Fix goofys disconnection in case of error"
Hi,
goofys needs syslog if fatal event happens. Installing package `netcat-openbsd` and running `nc -k -l -U /var/run/syslog &` fixes the issue and enpoint will not disconnect. I think this image `quay.io/k8scsi/csi-node-driver-registrar:v1.2.0` needs the fix. ([source](https://github.com/elliotchance/c2go/issues/674))

[2021-01-19 14:18] srikumar003 commented on #30
This is now supported by PR #73 (accepted). Closing this issue to reflect this.

[2021-01-19 14:18] #30 closed

[2021-01-21 09:25] YiannisGkoufas commented on #76
Hi @viktoriaas ! So it's an issue of `v1.2.0` version of `quay.io/k8scsi/csi-node-driver-registrar` ?

[2021-01-21 10:43] viktoriaas commented on #76
Yes, this one is used in csi-s3 daemonset

[2021-01-21 16:49] viktoriaas opened #79 "Multi user support in NFS shares"
Hi,
another question 😅
Have you thought about how to prevent users from mounting pvc's of others in NFS?

We have one export share. When user is creating a Dataset, he/she needs to specify the path.
Let's say the path is `/nfs/export` and option `createDirPVC: "true"`. In this case, the user gets his/her own share at `/nfs/export/myshare`. However, nothing stops user from mounting whole export jus

[2021-01-25 10:08] YiannisGkoufas commented on #79
That's an interesting issue. There are certainly few ways we can approach that.
Was thinking the following: you could prevent users from working the datasets all together. It's straightforward to modify the RBAC but let me know if you have problems with that. They would still be allowed to use the PVCs created from the Datasets.

[2021-01-25 10:49] viktoriaas commented on #79
That could be an option, however, it gets too static then. We aim for dynamic provisioning because with amount of PVC created on-demand, it wouldn't be sustainable to work like this. We have some workflows which create PVCs on the fly and right now, we are using some deprecated chart because with dlf, we would have to add everywhere Dataset creation (unrealistic) but we really want to use this fra

[2021-01-25 17:16] YiannisGkoufas commented on #79
Hi @viktoriaas thanks a lot for the details on your use case. It definitely makes sense, I am just trying to model it in a way that the conventions are still valid for DLF.
Would something like this work:
- We introduce a new CRD DatasetBase which will have the same specs with Dataset plus few more. For instance "allowOverride"
- We add the functionality so that the Dataset can inherit the specs f

[2021-01-26 10:04] viktoriaas commented on #79
@YiannisGkoufas
The steps you described sound great. Surely I don't expect you to have them done in a second 😄 We will wait and until then use our current solution.
Let me know when you need something or would like to test!

[2021-01-27 10:29] YiannisGkoufas commented on #79
The current functionality is already considered to be dynamic provisioning, in the sense that we create on the fly persistent volume claims. Now if you prefer to work with Storage Classes instead of DatasetBase, Dataset you can use directly the CSI NFS provisioner we bundle with DLF as well: https://github.com/kubernetes-csi/csi-driver-nfs/blob/master/deploy/example/README.md

[2021-01-27 17:39] viktoriaas commented on #79
To my understanding of dynamic provisioning:

[source, old but describes my thoughts](https://kubernetes.io/blog/2017/03/dynamic-provisioning-and-storage-classes-kubernetes/)

Therefore I assume that if I create nfs StorageClass (let's call it csi-nfs), then it is enough to specify storageClass in PVC and volume and everything else will be created.

Now, I have problems with understanding all the

[2021-01-28 16:59] #37 closed

[2021-02-03 10:41] viktoriaas opened #83 "Node-driver-registrar not working after reboot"
Hi,
I would like if [container node-driver-registrar in daemonset  csi-nodeplugin-nfsplugin ](https://github.com/IBM/dataset-lifecycle-framework/blob/master/src/csi-driver-nfs/chart/templates/csi-nodeplugin-nfsplugin.yaml) is expected to fail and not restart after some node problem. If a node reboots, the container node-driver-registrar stops working with log

[code]

I've found out when I created

[2021-02-24 23:01] olevski opened #87 "Creating a dataset from s3 bucket with 1GB of data results in ~9000 GB PVC"
Hello and thank you for this really cool project.

I am trying to create a dataset on a k8s cluster that is hosted on an open stack provider. And it seems that every time I create a dataset I get a pvc and pv that are very large (9314 Gi) even though the S3 bucket I am using only has dummy data that is less than 1 GB in total.

[code]

I thought this was happening because I was using open stack s3

[2021-02-25 11:18] YiannisGkoufas commented on #87
Hi @olevski, thanks for your interest and glad you find it useful!
The value that we set is indeed dummy because we don't have knowledge (and I am not sure if we can discover) the capacity of your bucket in the Object Store.
Just to clarify, this PVC doesn't take up any space on your cluster's storage since it's just mounting a remote bucket.

[2021-03-08 15:58] #87 closed

[2021-03-11 04:48] chazapis opened #88 "Dataset labels not working for deployments"
When I use a dataset label to mount a dataset to a deployment, nothing happens.

Upon further inspection, it looks like the `MutatingWebhookConfiguration` does not trigger for `deployments`, but only for `pods`. For deployments, the `mutate` function should do exactly the same changes it does for pods, but work on the `/spec/template/spec` path instead of `/spec`.

[2021-03-11 05:19] chazapis opened #89 "Use base64-encoded secrets for dataset configuration"
I was trying to configure an S3 dataset with a separate secret definition and realized that Datashim works only when the secrets are in the `stringData` format. Since `kubectl` creates strings with values in `data`, it would be more convenient to allow both formats.

[2021-03-19 14:39] HelenCousins opened #90 "S3 config format"
I am trying to set this up with an S3 bucket.  I have provided my keys.  I get:

  | failed to provision volume with StorageClass "csi-s3": rpc  error: code = Unknown desc = failed to initialize S3 client: Endpoint:   does not follow ip address or domain name standards.
-- | --

I have:

endpoint=s3.eu-west-2.amazonaws.com

which is clearly wrong, but what would be RIGHT?

[2021-03-22 11:22] YiannisGkoufas commented on #90
Hi @HelenCousins , apologies that this part is not very clear in the documentation.
The endpoint you provided, should be like this:

https://s3.eu-west-2.amazonaws.com or http://s3.eu-west-2.amazonaws.com

[2021-03-23 15:00] HelenCousins commented on #90
well, now it isn't throwing errors but it is endlessly pending with no reason given.  I know I have the right credentials, as I can use them with rclone...

[2021-03-24 11:09] YiannisGkoufas commented on #90
Hi @HelenCousins is `kubectl describe dataset/<YOUR_DATASET>` giving anything useful output?
Also would you mind sharing the Dataset spec without your credentials?

[2021-03-24 14:17] HelenCousins commented on #90
apiVersion: com.ie.ibm.hpsys/v1alpha1
kind: Dataset
metadata:
  name: example-dataset2
spec:
  local:
    type: "COS"
    accessKeyID: "SECRET"
    secretAccessKey: "SECRET"
    endpoint: "s3.eu-west-2.amazonaws.com"
    bucket: "atestbuckethc7"
    region;

 kubectl describe datasets example-dataset2
Name:         example-dataset2
Namespace:    default
Labels:       <none>
Annotations:  <none>
AP

[2021-03-24 14:52] YiannisGkoufas commented on #90
Thanks @HelenCousins can you try instead the following:

[code]
Also, does is `atestbuckethc7` an existing bucket?

[2021-03-24 14:56] HelenCousins commented on #90
it is a bucket, it contains junk, but ... existing junk

[2021-03-24 15:00] YiannisGkoufas commented on #90
Haha okay! can you try the spec I suggested above? basically I think you need to use `endpoint=https://s3.amazonaws.com` and `region=eu-west-2`

[2021-03-24 16:20] YiannisGkoufas commented on #90
Okay :( can you paste the output of this command: `kubectl get pods -n dlf` ?

[2021-03-25 15:05] HelenCousins commented on #90
NAME                                READY   STATUS    RESTARTS   AGE
csi-attacher-nfsplugin-0            2/2     Running   0          6d4h
csi-attacher-s3-0                   1/1     Running   0          6d4h
csi-nodeplugin-nfsplugin-h8h2h      2/2     Running   0          6d4h
csi-nodeplugin-nfsplugin-tc26l      2/2     Running   0          6d4h
csi-provisioner-s3-0                1/1     Running

[2021-03-25 15:35] YiannisGkoufas commented on #90
Ok! Can you share the logs of `csi-s3-jgpvw` and `csi-s3-ktjb2` pods?

[2021-03-25 16:09] HelenCousins commented on #90
kubectl logs -n dlf csi-s3-jgpvw driver-registrar
I0319 10:08:45.794651       1 main.go:110] Version: v1.2.0-0-g6ef000ae
I0319 10:08:45.794707       1 main.go:120] Attempting to open a gRPC connection with: "/csi/csi.sock"
I0319 10:08:45.794722       1 connection.go:151] Connecting to unix:///csi/csi.sock
W0319 10:08:55.794897       1 connection.go:170] Still connecting to unix:///csi/csi.sock
W03

[2021-03-26 08:47] YiannisGkoufas commented on #90
Can you confirm one more thing? Did you edit the `endpoint` field of the existing Dataset or you deleted and created a new one?

[2021-03-26 14:28] HelenCousins commented on #90
I edited it.

[2021-03-26 15:13] YiannisGkoufas commented on #90
Ah okay, its not supported yet (apologies that is not stated anywhere in the documentation)
Is it possible to try deleting and recreating the Dataset?

[2021-03-26 15:57] HelenCousins commented on #90
oh, yes, I will try that

[2021-03-26 15:59] HelenCousins commented on #90
oh wow, I have a pvc! thank you so much! (er, now to test it has my objects in it)

[2021-03-26 16:02] HelenCousins commented on #90
oh great, I made a pod with ubuntu and told it to mount my pvc...
MountVolume.SetUp failed for volume "pvc-53d7eb9b-2701-4220-865b-f4e8955d1978" : rpc error: code = Unknown desc = Error fuseMount command: goofys args: [--endpoint=https://s3.amazonaws.com --profile=pvc-53d7eb9b-2701-4220-865b-f4e8955d1978 --type-cache-ttl 1s --stat-cache-ttl 1s --dir-mode 0777 --file-mode 0777 --http-timeout 5m -o

[2021-03-30 16:15] YiannisGkoufas commented on #90
I see, have you tried to mount the bucket locally with s3fs?

[2021-03-31 11:52] ludzzz opened #94 "error 400 Bad Request"
Hi all,

I have a Kubernetes cluster on AWS (EKS).
we are currently using some workaround (script at the init of a node) to be able to mount s3 bucket on pod.

I tried to use datashim which looks very promising.
I installed the setup with https://raw.githubusercontent.com/IBM/dataset-lifecycle-framework/master/release-tools/manifests/dlf.yaml

here my dataset config:
[code]

But I end up with the

[2021-03-31 15:54] HelenCousins commented on #90
I hadn't.  Now I have, it worked

[2021-03-31 16:00] YiannisGkoufas commented on #90
Would it be possible to share the command you used? without the credentials file.

[2021-04-01 10:59] HelenCousins commented on #90
s3fs atestbuckethc7 folder -o passwd_file=${HOME}/.passwd-s3fs

(my objects are in 'folder' now; the credentials are the same as the json file for the dataset)

[2021-04-01 11:00] HelenCousins commented on #90
it should be an entirely public bucket btw, it contains a picture.

[2021-04-06 08:32] YiannisGkoufas commented on #90
Hi @HelenCousins I figured out the correct format. Can I ask that you delete and create a new dataset (one final time!) using that spec:
[code]
Notice that I removed the `region` section and the change that I made in the `endpoint`.
Also make sure that you first delete the pod that tried to mount the old dataset.
Please let me know if this works.

[2021-04-06 08:50] YiannisGkoufas commented on #94
Hi @ludzzz thanks for your comments and reporting this issue.
Would you mind deleting the dataset and recreating using the following endpoint?
[code]
Also it seems that `region` is not needed in Amazon S3, so you can remove it.
Let me know if it works!

[2021-04-14 06:55] ludzzz commented on #94
Sorry for the late reply. I was off.
Back on track.
I did try it but no luck still has the error on the pvc:
[code]

I am not sure how to debug it.

[2021-04-19 10:16] YiannisGkoufas commented on #90
Hi @HelenCousins is it working as expected?

[2021-04-19 10:21] YiannisGkoufas commented on #94
Hi @ludzzz did you try deleting and recreating the dataset? or editing the existing one?

[2021-04-20 09:53] viktoriaas opened #96 "Dataset Operator permission mismatch"
Hi,

I have cluster with pod security policy enabled. When I try to deploy operator I always get `Error: container has runAsNonRoot and image will run as root` in dataset-operator Deployment.

The issue is resolved with adding security context under `spec.template.spec`. I used
[code]
and pod starts now.

Could similar fix be added to the code?

[2021-04-20 15:41] HelenCousins commented on #90
appologies I had a vacation (in my lounge...) yes, it does now work, wow, this is very clever, and I can put my bucket contents into a daft web page.  thank you.

[2021-04-22 03:21] ludzzz commented on #94
I always delete en recreate it. to be sure.

[2021-04-22 08:18] YiannisGkoufas commented on #90
Great news! Thanks for your feedback!

[2021-04-22 08:18] #90 closed

[2021-04-22 08:22] YiannisGkoufas commented on #96
Hi @viktoriaas what kubernetes version are you deploying to?

[2021-04-22 10:17] viktoriaas commented on #96
@YiannisGkoufas
it's version v1.20.5 deployed with rke2r1

[2021-04-26 17:38] YiannisGkoufas commented on #94
Hi @ludzzz I am really sorry but I can't figure out myself what is exactly happening.
If you check the discussion in https://github.com/datashim-io/datashim/issues/90 and try the dataset in https://github.com/datashim-io/datashim/issues/90#issuecomment-813937858 which uses region `eu-west-2` you will get an error for not being authorized to check the bucket since the credentials are wrong.
However

[2021-05-03 23:11] o2cloud opened #98 "Dataset for the 1000 Genome project"
I am trying to mount a dataset for the 1000 Genome project - https://registry.opendata.aws/1000-genomes/
I have created the dataset object using:

[code]

The PVC for the dataset gets provisioned but when trying to mount into a pod, get errors like this:

[code]

Any pointer would be greatly appreciated

[2021-05-05 08:13] YiannisGkoufas commented on #98
Hi @o2cloud thanks for reporting this, the spec that worked for me for the specific bucket is:
[code]

Can you delete the dataset and recreate it as above? Thanks!

[2021-05-05 11:27] o2cloud commented on #98
Thanks @YiannisGkoufas for the reply.

I have deleted the dataset and recreated using your yaml file above. I then try to mount it with the pod manifest below according to the docs:

[code]

I am still seeing the error:

[code]

Should there be some extra config going into the pod manifest?

[2021-05-06 16:21] YiannisGkoufas commented on #98
Hmm @o2cloud it's strange, I was able to mount it without any special configuration. Can you try the following:
1. Use one of the manifests (based on if you are using K8s or openshift) in this branch https://github.com/datashim-io/datashim/tree/goofys-debug/release-tools/manifests to install datashim
2. Recreate the above dataset
3. Exec into the csi-s3 container in the dlf namespace and check on

[2021-05-06 16:21] YiannisGkoufas commented on #94
Hi @ludzzz is it possible to follow those steps https://github.com/datashim-io/datashim/issues/98#issuecomment-833657500 to debug this behavior?

[2021-05-08 21:06] o2cloud commented on #98
@YiannisGkoufas, the output of the logs.txt file:

[code]

So it seems the issues has to do with credentials. Are you using Openshift or Kubernetes? If it helps I am trying this on Minikube. I have also tried on K8s deployed with RKE and got the same error.

[2021-05-14 14:17] YiannisGkoufas opened #99 "Add arm based images"

[2021-05-21 09:54] v1nc3nt27 opened #100 "Use datashim for helm with terraform"
Hi,

I'd like to integrate your awesome project into my terraform script, using helm. I'm kind of a beginner with helm, so I was wondering if you could explain to me how to add the datashim charts as a repo. As far as I understand, it requires an index.yaml which I cannot find in the charts.
I could install it with kubectl and the yaml file, but I'd like to exclude the efs driver as I do not need

[2021-05-26 13:54] #99 closed

[2021-05-26 13:54] #98 closed

[2021-05-26 14:49] YiannisGkoufas commented on #100
Hi @v1nc3nt27 ! thanks for your kind words! I wasn't aware for the `index.yaml` approach, wasn't done intentionally.
Will try to provide a helm repo soon. In the meantime I can guide you to achieve what you are looking for.
All the helm related resources are on https://github.com/datashim-io/datashim/blob/master/chart/
If you have a look on https://github.com/datashim-io/datashim/blob/master/Makef

[2021-05-27 14:12] anthonyhaussman opened #102 "apiextensions.k8s.io/v1beta1"

[2021-05-27 14:13] #102 closed

[2021-05-27 14:33] anthonyhaussman opened #103 "Update deprecated apiextensions.k8s.io/v1beta1 and admissionregistration.k8s.io/v1beta1"
The following `apiVersion` will be deprecated in in v1.22 and are used in the dataset-operator:

 - admissionregistration.k8s.io/v1beta1 => admissionregistration.k8s.io/v1
 - apiextensions.k8s.io/v1beta1 => apiextensions.k8s.io/v1

I have done manual some tests and upgrade the admissionregistration `apiVersion` from https://github.com/datashim-io/datashim/blob/fe8a3e48e14311cad050681115ef33a9a34e5

[2021-06-02 13:14] #103 closed

[2021-06-05 12:02] v1nc3nt27 commented on #100
Hey @YiannisGkoufas, sorry for the late reply, I must have missed the mail notification.

Thanks a lot for the instructions! I understand how it works a lot better now. So I basically clone the project and use `helm install` like you have done in your makefile. Sounds easy enough :). The only issue is that I will probably not be able to automate this with terraform (or at least not in a clean way)

[2021-06-10 12:48] shlomitk1 opened #106 "Dataset is stuck in Pending state"
**Scenario**: created a Dataset CRD named "kind-example-v0.2-try6-cp4d3f6d318f7c".
[code]
**Problem**: A bucket has been successfully created. However, the Dataset status is stuck on "Pending".
**Reason**:
This is caused by a failure to reconcile a pvc resource. From csi-provisioner-s3-0 log in dlf namespace:
`volume_store.go:144] error saving volume pvc-80abdaf5-bb2e-4f3b-a733-4ea96c0f1552: Persi

[2021-06-10 13:53] shlomitk1 opened #107 "Installation of datashim results in an error"
I'm getting the following error while deploying datashim:
`error: unable to recognize "https://raw.githubusercontent.com/datashim-io/datashim/master/release-tools/manifests/dlf.yaml": no matches for kind "CSIDriver" in version "storage.k8s.io/v1"`
Earlier installations were successful. I suspect that https://github.com/datashim-io/datashim/pull/105 is the cause.

[2021-06-15 15:07] YiannisGkoufas commented on #107
Hi @shlomitk1 can you post the output of `kubectl version` command? I think with #105 we broke compatibility with pre-1.18 kubernetes clusters.

[2021-06-15 15:14] YiannisGkoufas commented on #106
Hi @shlomitk1 I think kubernetes doesn't like dots in fields under `spec`. For instance if you create this pod:
[code]
it will fail because it doesn't like spec.volumes[0].name being `foo.bar`

[2021-06-15 15:19] YiannisGkoufas commented on #106
However! If you want to use the bucket with the specific name, you can still define a Dataset like this:
[code]

[2021-06-15 15:32] shlomitk1 commented on #107
It was 1.16, after changing to 1.18 the problem has disappeared.

[2021-06-15 16:01] shlomitk1 commented on #106
The problematic resource was auto-generated by dataset operators, while the Dataset resource seemed completely valid.
It took quite us some time to debug this problem because the bucket was successfully created, and the Dataset status did not indicate any errors.
- Is this a known/documented limitation? It is not a problem for us to create datasets with a different name, but users working with dat

[2021-06-15 16:13] #107 closed

[2021-06-15 16:25] YiannisGkoufas commented on #106
Hi @shlomitk1 you are right, while in dataset.name there is the no problem to use dots but since the name gets propagated in another k8s object which kubernetes doesn't allow dots you experience this behaviour.
We haven't tested the scenario of having dots in the name that's why we haven't encountered that error, therefore it wasn't a known bug, but thanks for bringing this to our attention!
For t

[2021-06-15 16:25] #106 closed

[2021-06-15 16:27] YiannisGkoufas opened #108 "Throw errors for names containing illegal characters"
As reported here https://github.com/datashim-io/datashim/issues/106
In dataset definitions like this:
[code]
there should be the necessary message in the dataset.status
FYI @shlomitk1

[2021-06-24 15:26] sec9 opened #109 "Can have my S3 dataset mount in pod"
Hi team,
i want to mount a s3 bucket into my pod, but it does not work.

I use the example  : https://github.com/datashim-io/datashim/blob/master/examples/templates/example-pod.yaml

when i run it, as is,  k8s complains :

if i remove the optional  VolumeMount setting, pod run but the /mnt directory is still empty :(

My dataset is well set, the pvc is here

[code]

[code]

[code]

can you help me

[2021-06-25 09:11] sec9 commented on #109
GOT it ,
i forget :  kubectl label namespace default monitor-pods-datasets=enabled
but there is a typo un the readme i will open a pull request

[2021-06-25 09:56] seb-835 commented on #109
PR submit.
I will close the ticket when PR Accept.

[2021-06-28 05:33] collinarnett opened #111 "Unable to mount private s3 buckets"
Hello,

I'm trying to mount a private s3 bucket and I'm running into trouble:

I'm currently applying the following yaml:

[code]

This configuration works when the bucket is public, however when the bucket is private the provisioner is unable to find the bucket:
[code]

Nothing that I've read in the docs seems to suggest that private buckets are unable to work with datashim but I am probably doin

[2021-07-13 01:23] Tomcli opened #113 "S3 bucket creation command is missing for archive handler"
When running archive mode to load dataset into the S3 bucket, minio and other S3 server buckets are not created by the `aws s3 cp` command anymore. #112 is the quick fix for not breaking it, but ideally we should make the archive handle commands configurable when we need to make changes on how to pull the dataset.

[2021-07-15 15:49] seb-835 commented on #109
PR Merge.

[2021-08-09 16:53] MauroRibeiroHV opened #115 "Using defaultStorage leads to error: duplication of volumes"
In the deployment of the backend there is a container and an initContainer, and both need the same storage. There is a block of code that defines the volumes in the container, but in the initContainer the same block of code is inside an if that validates the flag defaultStorage.enabled. So, with the flag set to false, we will have the volumeMounts configuration in the container and not in the iniC

[2021-08-10 13:53] pkoutsov commented on #111
Hello @collinarnett thanks for reporting this. Any news on this issue? On our end, we have tested datashim with both public and private buckets and we don't observe any errors

[2021-08-11 23:33] pkoutsov opened #116 "CEPH cache plugin leftovers on dataset deletion"
When the [CEPH cache plugin is deployed with Datashim](https://github.com/datashim-io/datashim/tree/master/plugins/ceph-cache-plugin) a RadosGW (RGW), which corresponds to a dataset, is correctly deployed. However, when this dataset is deleted the respective RGW instance alongside the cached data remain as leftovers.

Getting the logs from the ```rook-ceph-operator``` we see the following:

[code]

[2021-08-11 23:40] pkoutsov commented on #59
Since #92 is merged I will close this issue. @chazapis and @malvag please feel free to re-open this issue in the future if you find it necessary

[2021-08-11 23:40] #59 closed

[2021-08-11 23:41] pkoutsov commented on #94
Hi @ludzzz any update on the above? 🙂

[2021-08-16 09:22] pkoutsov commented on #76
@viktoriaas from what I can tell from the description the necessary changes for this issue need to take place inside ```quay.io/k8scsi/csi-node-driver-registrar``` which is kinda out of our jurisdiction 🙂  If my understanding is correct I will close this issue

[2021-08-16 09:27] pkoutsov commented on #83
Hi @viktoriaas, I can understand the behavior you describe but this is not a datashim-related issue, but how the ```csi-nfs``` works in case of some node problem, right?

[2021-08-16 09:28] pkoutsov commented on #115
Hi @MauroRibeiroHV , I am not quite sure where this ```{{- if .Values.cvat.backend.defaultStorage.enabled }}``` is missing from. Could you maybe open a PR about this issue since you kinda already figured out what is missing? 🙂

[2021-08-16 10:24] MauroRibeiroHV commented on #115
Sorry, my mistake. This is an issue in another project, by mistake I created here.

[2021-08-16 10:24] #115 closed

[2021-08-16 12:32] pkoutsov opened #119 "Rook CEPH Toolbox"
The yaml file for the Rook CEPH toolbox, which can be used for administrator actions on the CEPH cluster deployed through Rook, is not updated to Rook release-v1.5 introduced by this PR https://github.com/datashim-io/datashim/pull/78

[2021-08-16 13:57] pkoutsov commented on #113
Since with #112 the archive handler is  working, would it be okay with you @Tomcli to close this issue and you could make a new one with a spec proposal of how to make the commands configurable for archives?

[2021-08-16 13:58] #21 closed

[2021-08-17 09:18] viktoriaas commented on #76
@pkoutsov I'm closing the issue as it's old and I don't use datashim anymore :)

[2021-08-17 09:18] #76 closed

[2021-08-17 09:20] viktoriaas commented on #83
@pkoutsov
I don't know whether it's a `csi-nfs` plugin behaviour or it could be improved in datashim.  But again, the issue is old and not relevant anymore :) so closing

[2021-08-17 09:20] #83 closed

[2021-08-17 09:25] pkoutsov commented on #76
@viktoriaas sorry to hear that you are not using datashim anymore, but out of curiosity, could you share with me with what you replaced datashim? 🙂

[2021-08-17 09:53] viktoriaas commented on #76
@pkoutsov
Datashim had many problems for our use case and needs. Some time ago  (at least 4 months imho) I sent an email to @YiannisGkoufas describing issues and possible improvements, but more like brainstorming and sharing ideas. We really needed working drivers so we ended up with:
- `democratic-csi` for NFS [(github link)](https://github.com/democratic-csi/democratic-csi)
-  for ceph rbd helm

[2021-08-18 10:23] #116 closed

[2021-08-18 10:24] #108 closed

[2021-08-18 10:24] #119 closed

[2021-08-19 15:20] pkoutsov opened #121 "Implement NooBaa caching plugin"
Implement an S3-to-S3 caching plugin, similar to the [already existing CEPH-based plugin](https://github.com/datashim-io/datashim/tree/master/plugins/ceph-cache-plugin), which is based on [NooBaa](https://github.com/noobaa/noobaa-core).

[2021-08-19 15:22] pkoutsov opened #122 "Introduce integration-testing"
Implement multiple integration tests that check the correct operation of Datashim for all the supported datasources, such as NFS, S3, H3

[2021-08-19 15:27] pkoutsov opened #123 "Expose Caching Placements for CEPH cache-plugin"
Expose the topology, in terms of nodes, of the Gateways and DataBackends of the S3-to-S3 caching mechanisms (e.g. RadosGW and OSDs for Ceph-base caching plugin). In this way, a k8s scheduler plugin can take advantage of this piece of information and place the incoming pods that utilize the respective Dataset "closer" to the corresponding Gateway.

[2021-08-24 09:51] AlessandroPomponio opened #124 "Hide remote bucket credentials in describe commands"
When running `kubectl describe datasets dataset-name` the remote bucket credentials are shown in plaintext. This also happens with `kubectl describe datasetinternal/dataset-name` when the cache plugin still hasn't provisioned the caching endpoint along with its credentials.

[2021-08-27 22:08] davidyuyuan opened #125 "No PVC was generated"
As documented in https://github.com/datashim-io/datashim/blob/master/docs/Archive-based-Datasets.md, a PVC should be generaed for an archive dataset. I ran "kubectl apply -f https://github.com/datashim-io/datashim/raw/master/examples/templates/example-archive.yaml". A dataset was created correctly. The corresponding PVC did not exist.

[2021-09-01 16:24] enricorotundo opened #126 "Support for dataset versioning?"
Hi all! Is there any plan for supporting dataset versioning?

[2021-09-04 19:49] pkoutsov commented on #126
Hello @enricorotundo there are no immediate plans to support this. However, at this time point it could be nice to start working on a potential spec of this feature with some initial thoughts. Feel free to share in this issue any ideas you might have for this feature 🙂

[2021-09-05 01:00] pkoutsov commented on #125
Hello @davidyuyuan did you follow the instructions for archive-based dataset found [here](https://datashim-io.github.io/datashim/Archive-based-Datasets/)? I suspect that the example archive-based dataset you created results in no PVC created because the ```minio-conf``` secret is missing.

[2021-09-08 13:44] #123 closed

[2021-09-09 09:17] srikumar003 opened #128 "Support URL-style bucket names in dataset definitions"
There have been requests to allow datasets to be defined using the bucket urls and static web hosting formats. This means that the dataset definition would allow:

[code]

without the need for specifying endpoint separately

[2021-09-12 11:37] masterkain commented on #7
I have trouble installing the current helm chart, I get this (using flux2)

[code]

[2021-09-12 11:42] masterkain commented on #7
I ended up using the yaml file directly

[code]

[2021-09-12 11:45] masterkain opened #129 "deprecation warning"
dlf/csi-attacher-nfsplugin-0

Warning: 299 - "storage.k8s.io/v1beta1 VolumeAttachment is deprecated in v1.19+, unavailable in v1.22+; use storage.k8s.io/v1 VolumeAttachment"

[2021-09-13 15:49] jalberto commented on #7
When installing  current helm by `helm install datashim ./chart -ndatashim --create-namespace` there is one pod, `csi-controller-h3-0`,  refusing to run, here is the log:

[code]

[2021-09-13 15:56] jalberto commented on #7
Same error by using recommended method `kubectl apply -f https://raw.githubusercontent.com/datashim-io/datashim/master/release-tools/manifests/dlf.yaml`

[2021-09-13 23:59] virtyos opened #130 "Could not mount a pvc to pod"
Getting error `MountVolume.MountDevice failed for volume "pvc-c3593f1f-d21e-4fcd-90f0-e4d73e554ff6" : kubernetes.io/csi: attacher.MountDevice failed to create newCsiDriverClient: driver name ch.ctrox.csi.s3-driver not found in the list of registered CSI drivers`

[2021-09-14 00:46] virtyos commented on #130
Have resolved. )

I'm working on microk8s and it uses /var/snap/microk8s/common/var/lib/kubelet path, not var/lib/kubelet.
So I just downloaded your yaml file and replaced all paths in it with actual value

[2021-09-14 10:18] masterkain commented on #7
it started installing with this https://github.com/datashim-io/datashim/issues/7#issuecomment-917619393
so no extra steps involved, however I had to temporary leave this solution because of crashes, will try again in future

[2021-09-14 10:24] jalberto commented on #7
Thanks, but for me not even that method works

[2021-09-14 12:50] srikumar003 commented on #130
Thanks @virtyos I'll open an issue on automatically detecting the kubelet path during installation

[2021-09-14 12:50] #130 closed

[2021-09-14 13:00] olevski opened #131 "Use public s3 buckets without providing credentials"
This is just a question.

I am trying to access a public bucket at `s3://giab`.

Is it possible to make a dataset resource for this public bucket without providing credentials? I can succeed in deploying the dataset manifest when the credentials are set to `""` but then I cannot mount the pvc in a pod. Have you come across this before? Should I set the credentials to something specific to indicate

[2021-09-15 09:38] pkoutsov commented on #129
Thanks for reporting this issue @masterkain. Indeed for k8s v1.22+ the attachers of nfs and h3 datasources have this issue.

[2021-09-17 15:32] enricorotundo opened #132 "README instructions not working on Minikube?"
I'm running the README instructions on Minikube v1.23.0 but, at the end of the process, the Dataset is not mounted in the intended location. Am I missing something?

I've noticed the `csi-controller-h3-0` pod goes in `CrashLoopBackOff` as soon as I do `kubectl apply -f https://raw.githubusercontent.com/datashim-io/datashim/master/release-tools/manifests/dlf.yaml` on a fresh cluster. Here's some lo

[2021-09-17 15:34] enricorotundo commented on #132
Additional info... I'm trying to mount an AWS S3 bucket at `https://s3.eu-central-1.amazonaws.com`.

[2021-09-18 17:29] olevski commented on #7
Hi this is a really cool project. I am working on using it over at https://github.com/SwissDataScienceCenter/renku and it would be really nice if there was a helm chart repo because we use Helm extensively over at Renku. As far as I can tell there isn't one though.

I am happy to write some github workflows to set one up. If someone with github permissions sets up github pages and lets me know whe

[2021-09-20 11:38] jalberto commented on #7
@olevski there is a helm chart in the repo, but it doesn't work out of the box

[2021-09-20 11:42] pkoutsov commented on #132
Hi @enricorotundo this is because ```storage.k8s.io/v1beta1 VolumeAttachment``` is deprecated for k8s version 1.22+. We are currently working on solving this. In the meantime if you do not need to work with k8s v1.22 you can instruct minikube to install an older version <1.21 and you won't have this issue

[2021-09-20 11:47] olevski commented on #7
Hmm. I have not noticed. Maybe it is because I only need the s3 functionality. I see your earlier comments are about the h3 controller. I did not really test that but I am pretty sure I installed it ok.

Perhaps the installation problems you are having are tied to your k8s cluster setup? I have so far tested mostly with kind.

[2021-09-20 11:47] pkoutsov commented on #131
Thanks for the issue and the PR @olevski! I would like to test this also on my end and then merge it

[2021-09-20 18:04] enricorotundo commented on #132
Thanks @pkoutsov, I just tried with K8s 1.20.0 and it works like a charm.

[2021-09-27 10:32] virtyos opened #135 "Transport endpoint is not connected"
Sometimes I got an error "transport endpoint is not connected" from my pods (csi-s3 volumes are mounted to them). I have to remount volumes and restart pods

[2021-10-08 10:32] srikumar003 opened #136 "Update sidecar dependencies for H3"
Following issues #132 and #129, we need to update the sidecar dependencies of CSI drivers to make datashim compatible with K8s 1.22+. Initial commits for this are in branch https://github.com/datashim-io/datashim/tree/update-attachment-api

However, the CSI driver for H3 still uses the old cluster registrar image instead of the node driver registrar image. Maintaining a separate set of values for

[2021-10-17 09:50] davidyuyuan opened #139 "Datashim installation requires more previlidges than allowed by GKE Autopilot"
There is a violation when installing Datashim on GKE in autopilot mode: "denied by autogke-no-write-mode-hostpath". The competitive project GCSFuse is able to work on Autopilot. However, GCSFuse only supports GCS, not other S3-like object stores. Datashim supports all S3-like object stores, which is a better choice for hybrid clouds.

Here is a copy of the complete output:
[code]

[2021-10-21 01:27] balapydi commented on #135
@YiannisGkoufas, I am facing this issue whenever I try to write anything on the mount.
I am using Dell ECS bucket.

[2021-11-01 15:20] srikumar003 opened #143 "Regression in ceph-cache plugin deployment"
Commit https://github.com/datashim-io/datashim/commit/079b99e568556ffd17ff83e7d068972a917c1edc#diff-97be71743a1ddb84c9e09d0d0797677eb7b5656d5d9de9569ec0a50add9ba5fe introduced 2 regressions in the ceph-cache plugin deployment files:
1. Makefile does not have `| kubectl apply -n $(NAMESPACE) -f - ` for deployment. Hence `make deployment` does not actually deploy
2. The image `quay.io/datashim/ceph-

[2021-11-01 15:43] srikumar003 commented on #132
Closing this issue as we have updated the sidecar dependencies

[2021-11-01 15:49] srikumar003 commented on #129
Closing this issue as we have updated the sidecar dependencies. Hopefully, that makes this problem go away!

[2021-11-04 11:44] MauroRibeiroHV opened #144 "[Question] Is Datashim still not ready for production?"
Hi
I see a comment from 2019 on datashim/src/csi-s3/README.md that says:

CSI for S3
This is a Container Storage Interface (CSI) for S3 (or S3 compatible) storage. This can dynamically allocate buckets and mount them via a fuse mount into any container.

Status
This is still very experimental and should not be used in any production environment. Unexpected data loss could occur depending on what m

[2021-11-09 23:06] srikumar003 opened #145 "Provide clientset implementation for Datashim objects"
Datashim does not have a client library so that external applications can query the K8S API Server for objects such as Datasets and DatasetInternals. The solution is to create a clientset following guides such as [this](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-api-machinery/generating-clientset.md)

[2021-11-09 23:07] srikumar003 commented on #136
Closing this issue as PR #137 was merged

[2021-11-09 23:07] #136 closed

[2021-11-10 11:01] #129 closed

[2021-11-10 12:17] srikumar003 commented on #145
Initial set of client APIs pushed into branch [generate_clientset](https://github.com/datashim-io/datashim/tree/generate_clientset)

[2021-11-11 15:29] TobiasGoerke opened #146 "Datashim allows for privilege escalation and reading arbitrary secrets in any namespace"
When using Dataset's `secret-namespace` the referenced secret (likely residing in another namespace) is being copied to the dataset's namespace. This poses a huge security risk as users can use datashim to obtain access to secrets in other namespaces.

See here for original question: https://github.com/datashim-io/datashim/issues/73#issuecomment-966034514_

[2021-11-28 19:04] swapnilmwagh opened #147 "ErrImagePull error for many PODs"
$ kubectl get all -n dlf
NAME                                    READY   STATUS              RESTARTS   AGE
pod/csi-attacher-nfsplugin-0            0/2     ErrImagePull        0          22m
pod/csi-attacher-s3-0                   0/1     ErrImagePull        0          22m
pod/csi-controller-h3-0                 0/3     ContainerCreating   0          22m
pod/csi-nodeplugin-h3-ljfbp             0/2

[2021-11-30 16:38] remidebette commented on #135
Hi, do you have any news on this?

[2021-12-10 10:40] h0jeZvgoxFepBQ2C commented on #146
Any updates about this getting fixed?

[2022-01-17 11:32] srikumar003 opened #149 "Fix breaking travis builds"
Travis builds are breaking when building the sidecars for datashim. The relevant errors are:

[code]
and then
[code]

Root cause seems to be a problem with Go version (1.13.8)

[2022-01-18 12:43] fferrann commented on #147
Does your Kubernetes cluster have any networking issues? Are other pods affected (e.g. other images)? I can pull the images without a problem.

[2022-01-19 16:17] olevski commented on #7
Is there any interest in publishing the images and helm charts?

What I have [here](https://github.com/SwissDataScienceCenter/datashim/blob/renku/.github/workflows/publish-chart.yaml) can be very easily adapted to the original repo here.

I am happy to open a PR and do this.

[2022-01-25 11:48] bbenlazreg opened #153 "Transport endpoint is not connected when csi-s3 pod is restarted"
If for any reason the csi-s3 pod is restarted, the Pod that uses s3 volumes looses connectivity to the mount target and we get
`Transport endpoint is not connected ` error
The error is solved if we restart the pod that uses the volume this forces csi-s3 pod to remount the volume, which is annoying because this means outage in production
When csi-s3 restarts it should check for existing volumes and

[2022-01-27 10:54] #145 closed

[2022-01-27 11:17] srikumar003 opened #154 "Update operator-sdk dependency"
The dataset-operator is dependent on operator-sdk version v0.16.0. This needs to be upgraded to the latest version so that we can upgrade k8s-client and other dependencies

[2022-01-27 11:20] srikumar003 opened #155 "Upgrade k8s-client dependency for dataset operator"
K8s-client is at v12.0.0-incompatible for dataset-operator, whereas the apiclient is using k8s-client v0.20.5 (linked to k8s v1.20.5). Both of these should be in sync.

[2022-01-27 11:23] srikumar003 opened #156 "Upgrade K8s dependencies for dataset-operator to v1.20+"
Dataset-operator dependencies are pinned to K8s v1.16.2. This needs to be upgraded to v1.20 or later

[2022-01-27 11:28] srikumar003 commented on #7
@olevski What you have done is quite useful. can you make a PR please ? The images for datashim are hosted on quay.io. I'll attempt to host the helm charts in the project github pages

[2022-01-27 11:46] srikumar003 commented on #147
@swapnilmwagh hi, apologies for the late reply. Are you still facing this issue ? Please comment

[2022-01-27 11:48] srikumar003 commented on #144
Closing this issue. Please reopen or start a discussion, if further investigation is needed.

[2022-01-27 11:48] #144 closed

[2022-02-02 11:41] raj-katonic commented on #153
Facing the same issue

[2022-02-02 12:08] raj-katonic commented on #153
Rolling out daemonsets and dataset-operator in dlf namespace altogether fixed this issue for me

[2022-02-02 17:37] seb-835 opened #157 "Datasets and initContainers"
Hi Team,

can you confirm that Datasetś PVC are not mount in initContainers ?
Is it an option you can add ? or something you will never do ?

Best Regards

[2022-02-03 09:36] srikumar003 commented on #157
@seb-835 The PVCs created by Datashim are like any other, so they should work in initContainers. However, if you have come across a problem with using them, please provide a YAML example here and I'll check it out.

[2022-02-03 13:12] seb-835 commented on #157
@srikumar003

I agree they can be attach to initContainer using the k8s way  with VolumeMount + Volume PersistentVolumeClaim declaration.
But using the DLF way with Labels, initcontainer does not have them mount.

If i apply the pod.yaml manifest :
[code]
and then describe the pods running
[code]
We can observe that the initcontainer have not the Mount : /mnt/datasets/nfs-rtfaas-job from nfs-rtfaa

[2022-02-04 23:58] srikumar003 commented on #157
@seb-835

Thanks. I have issued a PR #159  to fix this issue. Would you like to review it ?

[2022-02-07 08:02] seb-835 commented on #157
Hi @srikumar003 , thanks a lot i will review it (probably by the end of the week,as  i need to set up the build process of the image first)

[2022-02-07 10:39] srikumar003 commented on #143
Fixed makefile regression as part of #158. The unauthorised exception has still to be dealt with

[2022-02-08 11:45] bbenlazreg commented on #153
Actually restarting the operator did not fix the issue for me, the only thing that fixes the issue is to restart the pod that uses the pvc created by dataset operator, but would be better if when the daemonset or operator restarts reconciles the mount, otherwise each time we update the csi provider to a new version connectivity will be lost on all pods
Scenario to reproduce:
1- Create an S3 datase

[2022-02-09 15:28] gdubya commented on #130
@srikumar003 did you create such an issue? We are seeing the same error for a Nutanix Karbon k8s cluster but i'm not sure how to verify whether or not the path is correct for our cluster.

[2022-02-09 15:40] srikumar003 commented on #157
@seb-835 I cannot assign you as a reviewer (I think because it needs code contributions). I'll merge it and you can test against the master.

[2022-02-09 15:43] #157 closed

[2022-02-09 16:03] srikumar003 commented on #130
@gdubya I have not created it yet but will do. To verify the paths, you will have to login to one of the nodes and look path to kubelet. I don't know a better method, tbh

[2022-02-10 07:45] gdubya commented on #130
Thanks @srikumar003. In case anyone is looking for this in the future: it looks like Nutanix Karbon has a similar folder structure to IBM (`/var/data/kubelet`), at least in our case.

[2022-02-10 10:05] gdubya commented on #130
It looks like the paths are not the problem in our case (the default paths using /var/lib/kubelet are correct). I'll create a new issue to avoid mixing with this one.

[2022-02-10 10:13] srikumar003 opened #160 "Automatically detect kubelet lib path during installation"
Datashim assumes that the path to the kubelet directory for installing volume drivers on the node is in `/var/lib/kubelet`. This causes problem with K8s installations using different directories such as `var/data/kubelet`.

We need a way to determine the path of the directory at install time. This follows from #130

[2022-02-10 10:16] gdubya opened #161 "Driver name ch.ctrox.csi.s3-driver not found in the list of registered CSI drivers"
We installed the operator using the "default" Kubernetes installation (dlf.yaml). Everything looks to have been set up correctly, and we are able to create a Dataset pointing to an S3 bucket. A PVC has also been created and Bound.

When we start a pod that tries to mount the volume we get the following error message:
[code]
But it looks like the driver is created in the cluster:

[code]

So what d

[2022-02-10 10:17] gdubya commented on #161
Note: This issue is carried over from #130

[2022-02-10 12:38] gdubya commented on #161
The log output from the csi-provisioner seems to indicate that the driver is found:

[code]

[2022-02-10 13:12] gdubya commented on #161
The csi-s3 plugin pods are running on all worker nodes (including the one the test pod is using) and do not have any obvious errors in the logs either.

csi-attacher-s3 pod is also running without error:
[code]

[2022-02-11 12:42] gdubya commented on #161
While the driver is installed, it appears as though it has not been registered on the CSINode.

E.g. if i run `kubectl get csinode $WORKERNODE -o yaml` the s3-driver is not listed there.

How should the driver be registered on the node usually?

[2022-02-11 12:52] gdubya commented on #161
To answer my own question: https://kubernetes-csi.github.io/docs/csi-node-object.html#what-creates-the-csinode-object

Aha... and when I look again at the s3 driver register sidecar logs i notice a warning:

utils.go:101] GRPC error: failed to initialize S3 client: Endpoint:  does not follow ip address or domain name standards.

Is there something wrong with the syntax for my Dataset?

[code]

[2022-02-11 13:06] gdubya commented on #161
Oh, it looks like the hostname should have been printed in the error mesage, but there's nothing there. Perhaps it's not picking up the endpoint at all for some reason?

[2022-02-11 21:59] srikumar003 commented on #161
@gdubya We have come across the endpoint address before (#90).  Please see the discussion in #90/ One of the ways you can debug is to mount the s3 bucket directly using s3fs and the endpoint you have used. If that works, then it should work inside the csi-s3 driver

Can you try deleting the dataset and recreating it using endpoint `https://s3-cloud.myhost.com` ? Just to check if the port specifica

[2022-02-14 10:29] srikumar003 commented on #153
Verified that this problem exists. To solve this, the CSI-S3 driver would need to be extended to support `LIST_VOLUMES` and `LIST_VOLUMES_PUBLISHED_NODES` so that the external attacher can periodically [re-sync the volumes] (https://github.com/kubernetes-csi/external-attacher/blob/master/README.md#periodic-re-sync). A better option would be to support [external health monitor](https://github.com/k

[2022-02-16 11:57] srikumar003 commented on #161
@gdubya  Did you get a chance to try the above

[2022-02-16 14:06] gdubya commented on #161
Sorry for the slow response. I read through #90 just now. I think i tried quite a few variations of the hostname, but i'll have another try later today. I also omitted "region" since it's optional, but maybe that has something to do with it?

[2022-02-17 12:53] gdubya commented on #161
I tried without the port specification (and both with and without region) but unfortunately it made no difference :(

[2022-02-17 12:54] gdubya commented on #161
[code]

[2022-02-21 15:39] gdubya commented on #161
I'll try using a different mounter. Are all the ones [described on the csi-s3 page](https://github.com/ctrox/csi-s3) supported in datashim @srikumar003 ? Do i just need to replace "goofys" with an alternative name in the yaml for the driver to pick up a new mounter?

[2022-02-21 15:49] srikumar003 commented on #161
@gdubya we have only tested s3fs and goofys. I think rclone should be ok as well. You just need to change [this value](https://github.com/datashim-io/datashim/blob/8426a38e49838f58d66c108113ee1aaa6d15ee64/src/csi-s3/chart/values.yaml#L7) to reflect the new mounter.

I do not have a way of duplicating this error currently, so let me know how it goes with a different mounter

[2022-02-24 10:24] srikumar003 opened #164 "Allow datasets to be mounted as ephemeral volumes in pods"
Following from #139, datasets cannot be used in managed K8s environments where creation of cluster-scoped objects (like PersistentVolumes) are not allowed. One solution is to allow datasets to be translated into [CSI ephemeral/inline volumes](https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/596-csi-inline-volumes) which will avoid the creation of PV/PVC but still allow mount

[2022-03-03 14:47] gdubya commented on #161
Does [the mountPath for the csi-s3 daemonset](https://gist.github.com/gdubya/8bc1834f79fcf30ba25c523f4f7a842a#file-dlf-nutanix-yaml-L1136) also need to be updated?

[2022-03-03 14:56] gdubya commented on #161
Yes, that was it! Hooray.

I've updated the gist to contain the full working version, if you want to add that to your documentation for installation on Nutanix Karbon clusters.

Case closed!

[2022-03-03 16:10] srikumar003 commented on #161
Fantastic! 🥳  That `var/nutanix` is a difficult one to catch. We have run into similar issues with other providers.

The gist is very useful and I will link to it from the wiki installation page (at some point :-))

[2022-04-13 08:07] fighterhit opened #167 "The s3 bucket is not mounted into the pod according to the example."
- all component pods
[code]

- my s3 bucket and content
[code]

- s3 secret
[code]

- generated configmap

[code]

- generated pv/pvc
[code]

- nginx example
[code]

- There is nothing in the /mnt directory int the above nginx container.

[code]

[2022-04-13 08:28] srikumar003 commented on #167
@fighterhit can you please provide the kubernetes version and implementation (minikube, cloud service type, etc) ? Thanks!

[2022-04-13 08:33] fighterhit commented on #167
Thanks for your quick reply @srikumar003 .  My kubernetes cluster version is 1.18.3, which is manually built through `kubeadm`.

[code]

[2022-04-13 10:02] srikumar003 commented on #167
@fighterhit  can you please try to mount the pvc without the dataset labels ? That is, try this pod definition

[code]

[2022-04-29 08:54] srikumar003 opened #169 "Instructions for setting up VSCode for Datashim development"
Provide instructions for setting up development environment for Datashim in VSCode

[2022-04-29 08:56] srikumar003 opened #170 "Deployment instructions for Datashim development"
Require documentation on deploying Datashim locally using Minikube, kind, etc

[2022-05-02 22:12] srikumar003 commented on #167
Closing this issue. Please reopen if the above suggestion does not resolve this issue

[2022-05-02 22:12] #167 closed

[2022-05-02 22:13] srikumar003 commented on #147
Closing this issue as it has gone stale

[2022-05-02 22:13] #147 closed

[2022-05-02 22:14] srikumar003 commented on #139
Closing this issue as it is being followed up in #164

[2022-05-02 22:14] #139 closed

[2022-05-02 22:15] srikumar003 commented on #125
Closing this issue as the problem seems resolved

[2022-05-02 22:15] #125 closed

[2022-05-02 22:17] srikumar003 commented on #121
We have tested out Noobaa's cache implementation and run into a few issues (https://github.com/noobaa/noobaa-core/issues/6709). We'll revisit this when those issues have been resolved

[2022-05-02 22:17] #121 closed

[2022-05-02 22:21] srikumar003 commented on #135
This has been reported again in #153. As we have reported in that issue, solving this requires some changes to CSI-S3 and is pending investigation. Closing this issue to avoid duplication

[2022-05-02 22:21] #135 closed

[2022-05-02 22:22] srikumar003 commented on #113
Closing this issue due to staleness

[2022-05-02 22:22] #113 closed

[2022-05-02 22:22] srikumar003 commented on #111
Closing this issue as it has gone stale

[2022-05-02 22:22] #111 closed

[2022-05-02 22:24] srikumar003 commented on #100
Closing this issue as it has been resolved

[2022-05-02 22:25] srikumar003 commented on #94
Closing this issue as it is stale.

[2022-05-02 22:25] #94 closed

[2022-05-02 22:27] #100 closed

[2022-05-03 10:20] srikumar003 opened #171 "Fix Github CI workflow"
ci.yml is broken due to problems with a pipenv import leading to failed Github actions.

[2022-05-03 10:23] #171 closed

[2022-05-08 16:30] dumbPy commented on #132
I am seeing similar issue,
[code]

Installed using
[code]

and trying to check my kubernetes version,
[code]

[2022-05-08 17:07] srikumar003 commented on #132
@dumbPy Hi, do you need the H3 connector (`csi-h3`) ? If not, can you please use the Helm chart (https://github.com/datashim-io/datashim/blob/master/chart/values.yaml) to only install csi-s3 (i.e. --set csi-h3-chart.enabled="false" to not install H3).

[2022-05-08 19:09] dumbPy commented on #132
for my future self, installation worked by cloning and running
[code]
inside the repo.
Thanks @srikumar003

[2022-05-12 10:12] AlessandroPomponio opened #174 "make deployment should deploy arch-specific manifests"
As of now, if we run the `make deployment` command, the script will deploy the `amd64` `dlf` manifest by default. This can be an issue for devices that run on different architectures.

[2022-06-10 13:15] yingding opened #176 "minio/s3 Dataset x509: certificate signed by unknown authority"
I tried to create a Dataset from a minio bucket, which is compatible to s3 with type `COS`.
Got an error:
[code]
Is it possible to turn off the x509 CA certificate check for my local custom SSL certificate of the minio object store?

[2022-06-14 12:16] srikumar003 opened #178 "Migrate CRD to a new group"
Currently, the API Group for Datasets is set as `com.ie.ibm.hpsys` It would be nice to rename this to `datasets.datashim.io` (e.g.) so that it is in line with the project name, etc. However, this is a breaking change and should be done with caution

[2022-06-15 10:02] srikumar003 commented on #176
It doesn't seem possible as the `bucketExists` check does not have options to ignore self-signed CA certificate. Also, csi-s3 uses minio-go client to perform the actual check

[2022-06-16 10:57] #169 closed

[2022-06-16 12:50] #155 closed

[2022-06-16 12:50] #156 closed

[2022-06-17 10:22] srikumar003 opened #180 "Dataset operator pod goes into a crash backoff loop"
Deployment of dataset-operator results in error:

[code]
Root cause: The dataset operator and generate keys image haven't been updated on quay.io

[2022-06-17 10:23] VassilisVassiliadis commented on #180
I think this means that the deployment is using an older image. The new image (after #177) contains the `manager` binary.

[2022-06-17 11:34] srikumar003 commented on #180
That's the cause. I am going to do a temporary revert of the manifest generation so that the older manifests work for the time being

[2022-06-17 12:29] srikumar003 commented on #180
Temporary fix (#181) merged with master. However, this will install images before #177 which are less compatible with k8s 1.22+.

To get the latest operator, I advise manually building the operator image as below:

1. Clone datashim
[code]
2. Prepare an alternate Docker registry for the operator image
3. Change build parameters
[code]
Edit `Makefile` and replace values for `DOCKER_REGISTRY` to poi

[2022-06-21 14:46] TobiasGoerke opened #182 "Vulnerabilities/CVEs in Images"
We've just checked datashim's images for vulnerabilities using trivy and found 55 'critical' and many more 'high' CVEs in the csi-s3 image.

To reproduce our findings, use:

`docker run --rm -it aquasec/trivy:latest image quay.io/datashim/csi-s3:latest-amd64`

Also, the `generate-keys:latest-amd64` image contains two critical CVEs.

Please find the html report attached:
[trivy_results.txt](https:/

[2022-06-22 09:06] srikumar003 commented on #182
@TobiasGoerke Thanks! This is very useful. We are going through an update of the dependencies (#177) and as a result, have new images for the dataset operator. Pushing these to the Datashim repo is currently blocked but if you could generate images from master (see instructions  - #180) and run your analysis, then we will produce patches to fix any vulnerabilities asap.

[2022-06-22 10:27] srikumar003 opened #183 "Cannot push images to Datashim repository"
Continuing from #180, the root reason is that the push token for `quay.io/datashim` repository is expired and the repository itself is innaccessible.

Solution: move to a new repository for Docker images.

[2022-06-22 15:52] AlessandroPomponio opened #185 "Update CSI-S3"
As part of the general renovations, CSI-S3 should be updated.

Currently, it depends -among other things- on `k8s.io/kubernetes/pkg/util/mount`, which has been removed a few `k8s.io/kubernetes` releases ago. The release that is being used also contains vulnerabilities.

Ref: https://github.com/datashim-io/datashim/issues/182

[2022-06-23 15:35] AlessandroPomponio opened #187 "Create multiarch manifests instead of separate images"

[2022-06-23 23:50] Tomcli opened #188 "Datashim S3 CSI driver won't work on IBM Fyre OCP 4.8"
When running Datashim with S3 CSI driver on IBM Fyre OCP 4.8. Datashim can create the PVC with the appropriate storage class, but the S3 CSI driver is unable to bound the PVC storage to the S3 endpoint. We suspect there could be a S3 CSI driver configuration need to be update for the IBM Fyre OCP 4.8. However, we are not sure what feature gates or OCP configuration is needed in order to enable it

[2022-06-24 06:27] TobiasGoerke commented on #182
Sure, I'll gladly help.
However, I'm not able to locally build the csi-s3 image using `docker build --network=host --build-arg ARCH=amd64 --build-arg VERSION=dev -f src/csi-s3/cmd/s3driver/Dockerfile.full src/csi-s3` as I'm getting the following error message:

[code]

Are you aware of this error and know how I can fix it?

[2022-06-28 09:35] #180 closed

[2022-06-28 09:35] #183 closed

[2022-06-29 13:32] #185 closed

[2022-06-29 13:37] srikumar003 commented on #182
@TobiasGoerke Thanks! There was an error in the build process for csi-s3. We have updated the dependencies for CSI-S3 and its docker images have been switched to distroless (#186). The current master should pull and deploy the latest images. Happy to follow up if you find more vulnerabilities

[2022-06-29 14:13] srikumar003 opened #189 "Test integration of RClone for S3 buckets in CSI-S3"
#186 disabled every mounter (RClone, S3FS, S3Backer) except for goofys. This issue covers testing of RClone as a mounter for CSI-S3. Once done, we should enable RClone to be selected and installed as the mounter for CSI-S3 pvcs

[2022-06-29 14:20] srikumar003 opened #190 "Test integration of S3FS for mounting CSI-S3 buckets"
#186 disabled every mounter (RClone, S3FS, S3Backer) except for goofys. This issue covers testing of RClone as a mounter for CSI-S3. Once done, we should enable RClone to be selected and installed as the mounter for CSI-S3 pvcs

[2022-06-30 18:06] collinarnett opened #191 "How to handle multi-arch setup?"
Currently images tags are labeled with their architecture. I have a cluster with a mix of arm64 and amd64 nodes. I'm not sure with how to handle this setup with the way the datashim manifests are currently.

[2022-06-30 20:45] srikumar003 commented on #191
@collinarnett we have an ongoing issue about this (#187) and working on improving our CI pipeline to push multi-arch-images.

[2022-07-01 07:18] TobiasGoerke opened #192 "New Images are missing umount binary"
When deleting pods having mounted a volume provisioned by datashim, an error occurs in the csi-s3 container:

[code]

The issue seems to be the new distroless image, which is missing the umount binary. While this works (old image):

`docker run --rm -it --entrypoint umount quay.io/datashim/csi-s3:latest-amd64`

this does not (new image):

`docker run --rm -it --entrypoint umount quay.io/datashim-i

[2022-07-01 09:00] srikumar003 commented on #192
@TobiasGoerke thanks! I'll issue a fix soon

[2022-07-01 13:21] srikumar003 commented on #192
Uploaded new images and issued a fix with #192

[2022-07-01 14:23] #192 closed

[2022-07-04 11:25] srikumar003 opened #195 "Move CSI-S3 into Git submodule"
Due to several historical reasons, Datashim ended up forking csi-s3 and including it in the source tree. CSI-S3 has been updated since and as Datashim's fork is now behind the original, we need to fork csi-s3 into Datashim org and incorporate it as a Git submodule.

This will make it easier to update both Datashim and CSI-S3

[2022-07-06 13:02] srikumar003 opened #196 "Move CSI-NFS into a GIt submodule"
Datashim has an out-of-date CSI-NFS driver in its tree. We need to remove it and replace it with a git submodule of the original driver which is up to date.

[2022-07-14 17:07] Tazovsky opened #197 "pod has unbound immediate PersistentVolumeClaims"
I installed datashim with `kubectl apply -f https://raw.githubusercontent.com/datashim-io/datashim/master/release-tools/manifests/dlf.yaml`

My object definitions are:

[code]

[code]
but I'm facing following issue:

![image](https://user-images.githubusercontent.com/29068994/179040052-2d358292-4cf8-4093-96de-1334fd395ce3.png)

Can you help me with that issue?

[2022-07-15 10:01] srikumar003 commented on #197
@Tazovsky Can you check the following:
`kubectl -n <namespace> get pvc`
You should have a PVC called `example-dataset` present. If its present, then check
`kubectl -n <namespace> describe pod <deployment pod>`
There will be events describing why the PVC is not getting mounted

[2022-07-15 10:08] Tazovsky commented on #197
@srikumar003 here is the output:
[code]

[code]

[2022-07-15 10:14] srikumar003 commented on #197
Seems the `example-dataset` is not bound. Pls check if you have the correct credentials/ endpoint in your dataset yaml file.

 If these are ok, you can try removing `region: my-region` from the dataset definition (#90) and recreating the dataset.

If there are still problems, please paste the (anonymised) output from:
`$kubectl -n dlf logs csi-s3-<hash>`

[2022-07-15 10:43] Tazovsky commented on #197
@srikumar003 I removed `region: my-region` and nothing has changed. I also double-checked credentials and they are fine. Logs from which object do you want me to paste?

[code]

[2022-07-15 10:49] srikumar003 commented on #197
Seems that your CSI-S3 installation is not correctly set up. what does `$kubectl get pods -n dlf` give you ?

There should be 3 pods present that are associated with `csi-s3` - csi-attacher, csi-provisioner and csi-s3. Can you describe the daemonset `csi-s3` and paste any events here. Likewise with the statefulsets for `csi-attacher-s3` and `csi-provisioner-s3`

[2022-07-15 10:55] Tazovsky commented on #197
[code]

[code]

[code]

[code]

[2022-07-15 11:36] srikumar003 commented on #197
You're welcome. You would need privileged containers only in the `dlf` namespace which is where we install all the daemons to manage mount points. S3 pvcs can be used in any namespace.

Closing this issue as the question is resolved.

[2022-07-15 11:36] #197 closed

[2022-07-18 11:58] #187 closed

[2022-07-18 12:00] srikumar003 commented on #191
@collinarnett We now have new charts that provide multi-arch images. Please check them out and let us know

[2022-07-18 13:10] collinarnett commented on #191
Thanks so much. I have tried out the images minus the chart and they work as expected :smile:

[2022-07-18 13:10] #191 closed

[2022-08-11 08:40] nikhil-das-katonic commented on #153
Tried adding an extra argument `--reconcile-sync=10s` to the `csi-attacher-s3` StatefulSet. This resolved the issue to some degree, though it still comes up when try writing large amount of files consecutively to the same bucket (PVC).

[2022-08-19 08:52] nik-afa opened #200 "mounting a folder in s3"
Hello, thank you for your product, I have a question, is it possible to mount not the entire bucket, but only its specific folder when mounting an s3 bucket?
For example, do not mount
`https://my-bucket.s3.amazonaws.com/`
instead mount like this
`https://my-bucket.s3.amazonaws.com/folder`

[2022-08-23 05:44] srikumar003 commented on #200
at this moment, Datashim's CSI-S3 implementation does not support accessing prefixes for S3 buckets (i.e. folders). The entire bucket is mounted but you can chose to read/write to a specific subfolder.

However, we are open to patches :-)

[2022-08-24 14:55] vmasyagin opened #201 "the server could not find the requested resource (post datasetsinternal.com.ie.ibm.hpsys)"
Good afternoon. Installed DLF on kubernetes version 22 using kubectl apply -f https://raw.githubusercontent.com/datashim-io/datashim/master/release-tools/manifests/dlf.yaml. Everything started, but when I create a dataset
[code]
 then I get an error:
[code]
What could be the reason?

[2022-08-24 15:16] #201 closed

[2022-08-24 15:18] vmasyagin commented on #201
It's because of the start order. Start order is important.

[2022-08-25 06:34] srikumar003 commented on #201
Thanks @vmasyagin. Did this happen because the dataset-operator pods were still starting at the time you created a dataset ?

[2022-08-25 14:15] vmasyagin commented on #201
Here is an interesting point. I put it on a cluster without the Internet. When I applied the dlf.yaml file, then, of course, the images could not be downloaded. I uploaded the images to the local repository and began to change images sequentially in daemon sets, deployments and stateful sets. After that I created a dataset and saw the error described above. I demolished everything, immediately cha

[2022-08-26 09:30] sterchelen opened #202 "defunct processes in csi-s3"
As https://github.com/ctrox/csi-s3 isn't properly maintained (cf. https://github.com/ctrox/csi-s3/issues/73), here a cross-reference to an issue I posted on the repo https://github.com/ctrox/csi-s3/issues/74.

Basically, it is all about defunct processes from csi-s3 and how we could get rid of it.
The aim of this issue is mainly making you aware of it before proposing a patch.

[2022-09-19 17:50] vitalif commented on #153
RPC_LIST_VOLUMES_PUBLISHED_NODES is officially not a solution :-) https://github.com/kubernetes-csi/external-attacher/issues/374#issuecomment-1250930471

[2022-09-19 21:20] srikumar003 commented on #153
@vitalif Thanks for researching this issue, though the answer is disappointing :-)

CSI-S3 (atleast Datashim's fork) uses `Bidirectional` mount propagation which has caused some issues, such as the need for privileged containers (#139) and is preventing full support for ephemeral volumes (#164). Unfortunately, we haven't been able to find a way around it, yet.

If you do have a workaround, I'll be

[2022-10-13 08:08] wongan4 opened #206 "Pod "csi-controller-h3-0" not working on k8s 1.22"
I found pod "csi-controller-h3-0" will fail on k8s 1.22, but can still mount s3 volume. Can I know is there any suggestion?

I guess should be this container "csi-cluster-driver-registrar" error.

csi-cluster-driver-registrar:
    Port:          <none>
    Host Port:     <none>
    Args:
      --v=5
      --pod-info-mount-version="v1"
      --csi-address=$(ADDRESS)
    State:          Waiting

[2022-10-18 13:53] srikumar003 commented on #206
@wongan4 The CSI plugins supported by Datashim are treated independently.  S3 buckets are handled by CSI-S3. H3 was an experimental storage system that Datashim supported last year.

You can install Datashim without CSI-H3 by modifying the Helm values file: [See this comment](https://github.com/datashim-io/datashim/issues/132#issuecomment-1120471474)

[2022-11-10 13:06] cwichka opened #207 "Pod invalid: mountPath: invalid value must be unique."
Hi,
We are having the following issue when creating pods labeled properly with the PVC names to be mounted.
[code]

Error received:
[code]

PVCs to be mounted are
[code]
However, when we try to mount them without using datashim, they get mounted properly
[code]
Please notice that we are deploying datashim chart we found [here](https://github.com/datashim-io/datashim/tree/master/chart) on the repo

[2022-11-22 12:37] tcassaert opened #208 "storageClassName is not configurable for dataset"
We were trying to evaluate what mounter would work best for our use case, the s3fs one or the goofys one. We deployed the datashim with the helm chart and following `values.yaml`:

[code]
which is the default, apart from disabling `nfs` and `h3`.

Then we deployed a dataset:

[code]
This works fine and we can access the data in a pod that mounts the created PVC.

Now we also wanted to use the `s3f

[2022-11-23 21:30] srikumar003 commented on #208
@tcassaert unfortunately, yes `csi-s3` is hardcoded for type `COS`. It would be very good to be able to specify different storage classes while specifying Datasets but it needs a bit of thought (and any suggestions would be welcome)

To address the root problem, it is not possible to use s3fs as the mounter with the current version of csi-s3 supplied with Datashim. We removed this in #186 while up